<h2>Scans</h2>
<div id="scanlist-container">                                                                  
  <ul id="scan-list">                                                                          
    {% for scan in scan %}
    <li><a class="scan btn"
      href="{{ scan.image }}"
      data-height="{{ scan.height }}"
      data-width="{{ scan.width }}">{{ loop.index }}</a></li>
    {% endfor %}
  </ul>                                                                                        
</div>   
<div id="scan-viewer2"></div>
