<div id="zotero-information">
  <table class="table table-striped table-condensed table-bordered">
    {% for k, v in zotero_data %}
      {% if k == 'tags' %}
      {% elif k == 'notes' %}
      {% elif k == 'creators' %}
        {% for creator in v %}
          <tr>
            <td class="zotero-key">
              <span>{% trans creator.creatorType, 'messages_zotero' %}</span>
            </td>
            <td>
              {% if creator.firstName or creator.lastName %}
              {{ creator.firstName }} {{ creator.lastName }}
              {% else %}
              {{ creator.name }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% elif v %}
      <tr>
        <td class="zotero-key">
          <span>{% trans k, 'messages_zotero' %}</span>
        </td>
        <td>{% if k == 'itemType' %}{% trans v, 'messages_zotero' %}{% else %}{{ v }}{% endif %}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

