@import "normalize.css";
@import "basscss";
@import "font-awesome";
@import "openwebicons/css/openwebicons.css";
@import "codemirror/lib/codemirror.css";

/****************************
 * Style variable overrides *
 ****************************/

:root {
    font-size: 14px;
    --body-font-size: 14px;
}



/**************
 * Components *
 **************/

/* Text editor */
.TextEditor-editor {
    min-height: 40rem;
    max-width: 24rem;

    font-size: 16px;
    font-family: serif;

    box-shadow: 0px 2px 10px -2px #111;
}

.TextEditor-references {
    max-width: 14rem;
    max-height: 100vh;

    box-shadow: 0px 2px 10px -2px #111;
}

.CodeMirror-scroll:hover {
    cursor: text;
}

/** Zotero items **/
.zotero-row {
    display: flex;
    align-items: center;
}

.zotero-row * {
    margin: 0;
}

.zotero-row > * {
    flex-grow: 1;
    width: 0;
}

.zotero-row > :first-child {
    flex-basis: 120px;
    flex-grow: 0;
    margin-right: 1em;
}
