@import "normalize.css";
@import "font-awesome";
@import "openwebicons/css/openwebicons";
@import "codemirror/lib/codemirror";

@import "basscss";
@import "basscss-btn-sizes";

@import "./variables";
@import "./colors";

.inline-children * { display: inline; }


/** Text editor **/

.TextEditor--editor {
    min-height: 480px;
    max-width: 600px;

    font-size: 16px;
    font-family: serif;

    box-shadow: 0px 2px 10px -2px #111;
}

.TextEditor--references {
    max-width: 400px;
    max-height: 90vh;

    overflow: hidden;

    box-shadow: 0px 2px 10px -2px #111;
}

.CodeMirror-scroll:hover {
    cursor: text;
}



/** Note heading **/
.NoteInformation--Heading {
    width: 90px;
    text-align: right;
}

.NoteInformation--Item {
    margin-left: 100px;
}



/** Zotero items **/

.ZoteroField > :first-child {
    width: 120px;
    flex-basis: auto;
    flex-grow: 0;
    margin-right: 1em;
}

.ZoteroField input[type="text"] {
    padding: 0px 6px;
    width: 0;
    height: 1.7em;
}


/** Rendered EN Markup (in notes, e.g.) **/
.ItemText blockquote {
    border-left: 3px solid #eee;
    padding-left: .5em;
    margin-left: 1.25em;
}

.ItemText .ENDocumentBlock {
    position: relative;
    border-left: 1px solid #999;
    padding-left: 6px;
    margin-left: 22px;
}

.ItemText .ENDocumentBlock::before {
    content: "\f0f6";
    position: absolute;
    left: -22px;
    color: #333;
    font-size: 18px;
}

.ItemText .ENDocumentBlock > :nth-child(2) {
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px dotted #ccc;
}

/** Text editor **/
.CITATION-BLOCK {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;

    padding-left: 16px !important;
    padding-right: 16px !important;

    margin-right: 1px !important;

    background: #f0f0f0 !important;
}
