@import "normalize.css";
@import "font-awesome";
@import "openwebicons/css/openwebicons";
@import "codemirror/lib/codemirror";
@import "react-select/dist/react-select";

@import "basscss";
@import "basscss-btn-sizes";
@import "basscss-ui-utility-groups";

@import "./variables";
@import "./colors";
@import "./utils";

.inline-children * { display: inline; }


/** Note heading **/
.NoteInformation--Heading {
    width: 90px;
    text-align: right;
}

.NoteInformation--Item {
    margin-left: 100px;
}



/** Zotero items **/

.ZoteroData tr:nth-of-type(even) {
    background: #f0f0f0;
}

.ZoteroField > :first-child {
    width: 120px;
    flex-basis: auto;
    flex-grow: 0;
    margin-right: 1em;
}

.ZoteroField input[type="text"] {
    padding: 0px 6px;
    width: 0;
    height: 1.7em;
}


/** Rendered EN Markup (in notes, e.g.) **/
.ItemText blockquote {
    border-left: 3px solid #eee;
    padding-left: .5em;
    margin-left: 1.25em;
}

.ItemText .ENDocumentBlock {
    position: relative;
    border-left: 1px solid #999;
    padding-left: 6px;
    margin-left: 22px;
}

.ItemText .ENDocumentBlock::before {
    content: "\f0f6";
    position: absolute;
    left: -22px;
    color: #333;
    font-size: 18px;
}

.ItemText .ENDocumentBlock > :nth-child(2) {
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px dotted #ccc;
}


/** Text editor **/
.CodeMirror-scroll:hover {
    cursor: text;
}

.Select-menu-outer { z-index: 3; }

.ENEditor .CodeMirror-line {
    padding-left: 6rem;
    padding-right: 6rem;
}

.ENEditor .CodeMirror-lines {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.CITATION-BLOCK {
    background: #f0f0f0 !important;
}

:not(.CITATION-BLOCK) + .CITATION-BLOCK,
.CITATION-BLOCK + :not(.CITATION-BLOCK) {
    border-top: 1px solid #ccc !important;
}
