@import "normalize.css";
@import "basscss";
@import "font-awesome";
@import "openwebicons/css/openwebicons";
@import "codemirror/lib/codemirror";

@import "./variables";
@import "./colors";


/**************
 * Components *
 **************/

/* Text editor */
.TextEditor--editor {
    min-height: 480px;
    max-width: 600px;

    font-size: 16px;
    font-family: serif;

    box-shadow: 0px 2px 10px -2px #111;
}

.TextEditor--references {
    max-width: 360px;
    max-height: 100vh;

    box-shadow: 0px 2px 10px -2px #111;
}

.CodeMirror-scroll:hover {
    cursor: text;
}

/* Note heading */
.NoteInformation--Heading {
    width: 90px;
    text-align: right;
}

.NoteInformation--Item {
    margin-left: 100px;
}

/** Zotero items **/
.zotero-row {
    display: flex;
    align-items: center;
}

.zotero-row * {
    margin: 0;
}

.zotero-row > * {
    flex-grow: 1;
    width: 0;
}

.zotero-row > :first-child {
    flex-basis: 120px;
    flex-grow: 0;
    margin-right: 1em;
}
