{% extends "base.html" %}

{# {% load typogrify display staticfiles %} #}

{# {% block title %}: {{ data.title }}{% endblock %} #}

{% block content %}
      <div id="note">

      <header><h2>{{ data.title }}</h2></header>

      <section id="note-details">

        <div id="note-about">

          <div>
            <strong>This note is </strong>
            <span class="note-status-{{ data.status }}">{{ data.status }}</span>
          </div>

          <div id="note-related-topics">
            <span>Related topics</span>
            <ul class="unstyled">
              {% if not data.related_topics|length %}
              <span class="quiet">none</span>
              {% endif %}
              {% for topic in data.related_topics %}
              <li><a href="{{ topic.url }}">{{ topic.preferred_name }}</a></li>
              {% endfor %}
            </ul>
          </div>

        </div>

        <dl id="note-authorship" class="dl-horizontal">
          <dt>Project</dt>
          <dd><a href="{{ data.project.url }}">{{ data.project.name }}</a></dd>

          <dt>Private</dt> 
          <dd>
            {% if data.is_private %}Yes{% else %}No{% endif %}
          </dd>

          <dt>License</dt>
          <dd>
          <a class="license-link" href="{{ data.license.url }}" title="{{ data.license.name }}">
            {% for symbol in data.license.symbols %}<i class="license-symbol">{{ symbol }}</i>{% endfor %}
          </a>
          </dd>

          <dt>Author{% if data.updaters|length > 1 %}s{% endif %}</dt>
          <dd>
            <ul class="unstyled">
              {% for author in data.updaters %}<li><a href="{{ author.url }}">{{ author.display_name }}</a></li>{% endfor %}
            </ul>
          </dd>

          <dt>Last updated</dt>
          <dd>{{ data.last_updated }} (<a href="#">view history</a>)</dd>

        </dl>

        {% set links = data._links|groupby('rel') %}
        {% if links.edit %}
          <div class="row">
            <div class="span12 container" style="text-align: center; padding-top: 19px; border-top: 1px solid #ddd;">
              <a href="{{ data.url }}edit/" class="btn btn-default">Edit note</a>
            </div>
          </div>
        {% endif %}

      </section>

      <section id="note-description">
        {{ data.content|safe }}
      </section>

      <section id="note-sections">

        {% for section in data.sections %}
          {% include section.section_type + "_ns.html" %}
        {% endfor %}
      </section>
    </div>

{% endblock %}
